<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags --> 
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Welcome To CodeJammers</title>
		<link rel="stylesheet" href="static/vendors/mdi/css/materialdesignicons.min.css">
		<link rel="stylesheet" href="static/vendors/owl.carousel/css/owl.carousel.css">
		<link rel="stylesheet" href="static/vendors/owl.carousel/css/owl.theme.default.min.css">
		<link rel="stylesheet" href="static/vendors/aos/css/aos.css">
		<link rel="stylesheet" href="static/vendors/jquery-flipster/css/jquery.flipster.css">
		<link rel="stylesheet" href="static/css/style.css">
		<link rel="shortcut icon" href="static/images/favicon.png" />
	</head>
	<body data-spy="scroll" data-target=".navbar" data-offset="50">
		<div id="mobile-menu-overlay"></div>
		<nav class="navbar navbar-expand-lg fixed-top">
			<div class="container">
				<a class="navbar-brand" href="/"><h3 class="font-weight-medium">Code Jammers</h3></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"><i class="mdi mdi-menu"> </i></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
					<div class="d-lg-none d-flex justify-content-between px-4 py-3 align-items-center">
						<h3 class="font-weight-medium">Code Jammers</h3>
						<a href="javascript:;" class="close-menu"><i class="mdi mdi-close"></i></a>
					</div>
					<ul class="navbar-nav ml-auto align-items-center">
						<li class="nav-item active">
							<a class="nav-link" href="#home">Home <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="about">About</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="features">Features</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#projects">Jams</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#contact">Contact</a>
						</li>
						

						{% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link btn btn-success" href="dashboard">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-success" href="logout">Logout</a>
          </li>
          {% else %}
         <li class="nav-item">
							<a class="nav-link btn btn-success" href="login">Login</a>
						</li>
						<li class="nav-item">
							<a class="nav-link btn btn-success" href="signup">Sign Up</a>
						</li>
          {% endif%}



						
						
					</ul>
				</div>
			</div>
		</nav>
		<div class="page-body-wrapper">
			<section id="home" class="home">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<div class="main-banner">
								<div class="d-sm-flex justify-content-between">
									<div data-aos="zoom-in-up">
										<div class="banner-title">
											{% if user.is_authenticated %}
											<h3 class="font-weight-medium">Welcome {{ user.first_name }}!</h3>
											{% else %}
												<h3 class="font-weight-medium">Welcome to Code Jammers!</h3>
											{% endif %}
										</div>
										<p class="mt-3">A website which will help you sharpen your programming skills by competing with others.
										</p>
										{% if user.is_authenticated %}
										<a href="dashboard" class="btn btn-secondary mt-3">Dashboard</a>
										{% else %}

										<a href="register" class="btn btn-secondary mt-3">Get Started</a>
										{% endif %}
									</div>
									<div class="mt-5 mt-lg-0">
										<img src="static/images/group.png" alt="marsmello" class="img-fluid" data-aos="zoom-in-up">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			
			<section class="our-process" id="about">
				<div class="container">
					<div class="row">
						<div class="col-sm-6" data-aos="fade-up">
							<h5 class="text-dark">Our work process</h5>
							<h3 class="font-weight-medium text-dark">Discover New Idea With Us!</h3>
							<h5 class="text-dark mb-3">Imagination will take us everywhere</h5>
							<p class="font-weight-medium mb-4">Coding Helps to grow your thinking skills.
							</p>
							
						</div>
						<div class="col-sm-6 text-right" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
							<img src="static/images/idea.png" alt="idea" class="img-fluid">
						</div>
					</div>
				</div>
			</section>
			<section class="our-projects" id="projects">
				<div class="container">
					<div class="row mb-5">
						<div class="col-sm-12">
							<div class="d-sm-flex justify-content-between align-items-center mb-2">
								<h3 class="font-weight-medium text-dark ">Let's See Our Latest Competition</h3>
								<div><a href="dashboard" class="btn btn-outline-primary">View more</a></div>
							</div>
						</div>
					</div>
				</div>
				<div class="mb-5" data-aos="fade-up">
					<a href="dashboard">
					<div class="owl-carousel-projects owl-carousel owl-theme">

						<div class="item">
							<img src="static/images/carousel/slider1.jpg" alt="slider">
						</div>
						<div class="item">
							<img src="static/images/carousel/slider2.jpg" alt="slider">
						</div>
						<div class="item">
							<img src="static/images/carousel/slider3.jpg" alt="slider">
						</div>
						<div class="item">
							<img src="static/images/carousel/slider4.jpg" alt="slider">
						</div>
						<div class="item">
							<img src="static/images/carousel/slider5.jpg" alt="slider">
						</div>
						<div class="item">
							<img src="static/images/carousel/slider1.jpg" alt="slider">
						</div>
						<div class="item">
							<img src="static/images/carousel/slider2.jpg" alt="slider">
						</div>
						<div class="item">
							<img src="static/images/carousel/slider3.jpg" alt="slider">
						</div>
						<div class="item">
							<img src="static/images/carousel/slider4.jpg" alt="slider">
						</div>
						<div class="item">
							<img src="static/images/carousel/slider5.jpg" alt="slider">
						</div>
						<div class="item">
							<img src="static/images/carousel/slider1.jpg" alt="slider">
						</div>
						<div class="item">
							<img src="static/images/carousel/slider2.jpg" alt="slider">
						</div>
						<div class="item">
							<img src="static/images/carousel/slider3.jpg" alt="slider">
						</div>
						<div class="item">
							<img src="static/images/carousel/slider4.jpg" alt="slider">
						</div>
						<div class="item">
							<img src="static/images/carousel/slider5.jpg" alt="slider">
						</div>
					</div>
				</a>
				</div>
				
			</section>
			
			
			
			<section class="contactus" id="contact">
				<div class="container">
					<div class="row mb-5 pb-5">
						<div class="col-sm-5" data-aos="fade-up" data-aos-offset="-500">
							<img src="static/images/contact.jpg" alt="contact" class="img-fluid">
						</div>
						<div class="col-sm-7" data-aos="fade-up" data-aos-offset="-500">
							<h3 class="font-weight-medium text-dark mt-5 mt-lg-0">Feedback and Suggestions</h3>
							<h5 class="text-dark mb-5">Contact us to give any feedback and suggestions</h5>
							<form action="/" method="POST">
								{% csrf_token %}
								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<input type="text" class="form-control" id="name" placeholder="Name*" name="name">
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<input type="email" class="form-control" id="mail" placeholder="Email*" name="email">
										</div>
									</div>
									<div class="col-sm-12">
										<div class="form-group">
											<textarea name="message" name="message" id="message" class="form-control" placeholder="Message*" rows="5"></textarea>
										</div>
									</div>
									<div class="col-sm-12">
										<input type="submit" class="btn btn-secondary">

									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</section>
		</div>
		<footer class="footer">
			<div class="footer-top">
				<div class="container">
					<div class="row">
						<div class="col-sm-6">
							<address>
								<p>Lucknow, India</p>
								
								<div class="d-flex align-items-center">
									
									<a href="mailto:amanpal2072004@gmail.com" class="footer-link">amanpal2072004@gmail.com</a>
								</div>
							</address>
							<div class="social-icons">
								<h6 class="footer-title font-weight-bold">
									Social Share
								</h6>
								<div class="d-flex">
									<a href="https://github.com/AmanDevelops"><i class="mdi mdi-github-circle"></i></a>
									<a href="https://twitter.com/itzAman2k4"><i class="mdi mdi-twitter"></i></a>
									
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="row">
								<div class="col-sm-4">
									<h6 class="footer-title">Social Share</h6>
									<ul class="list-footer">
										<li><a href="#" class="footer-link">Home</a></li>
										<li><a href="#" class="footer-link">About</a></li>
										<li><a href="#" class="footer-link">Features</a></li>
										<li><a href="#" class="footer-link">Contact</a></li>
									</ul>
								</div>
								<div class="col-sm-4">
									<h6 class="footer-title">Product</h6>
									<ul class="list-footer">
										<li><a href="#" class="footer-link">Youtube Channel</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-bottom">
				<div class="container">
					<div class="d-flex justify-content-between align-items-center">
						<div class="d-flex align-items-center">
							<h3 class="font-weight-medium" class='mr-3'>Code Jammers</h3></br><br>
							
            
							
						</div>
           
						<div>
							<div class="d-flex">
								<p class="mb-0 text-small pt-1">© 2021 <a href="/" class="text-white" target="_blank">CodeJammers</a>. All rights reserved.</p>
							</div>
						</div>
					</div>

				</div>
			</div>
		</footer>
		<script src="static/vendors/base/vendor.bundle.base.js"></script>
		<script src="static/vendors/owl.carousel/js/owl.carousel.js"></script>
		<script src="static/vendors/aos/js/aos.js"></script>
		<script src="static/vendors/jquery-flipster/js/jquery.flipster.min.js"></script>
		<script src="static/js/template.js"></script>
	</body>
</html>