{% extends 'main/base.html' %}
{% load static %}

{% block dashboard_active %}class="active"{% endblock %}
{% block title %}Competition Results{% endblock %}
  
{% block contents%}
  
  <head>
    <link rel="stylesheet" href="{% static 'submissions.css'%}">
  </head>
  
  <main class="main-content">
    <div class="container">
      <header class="page-header">
        <h1>Submitted By {{ data.submitted_by}}</h1>
      </header>
  
      <div class="results-container">
        <div class="code-viewer">
          <iframe class="gist-frame" src="{{data.code}}.pibb" frameborder="0" scrolling="auto">
          </iframe>
        </div>
      </div>
    </div>
  </main>
  
{% endblock%}